In [5]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', 100) # Show all columns when looking at dataframe

In [7]:
# Download NHANES 2015-2016 data
df = pd.read_csv("nhanes_2015_2016.csv")

### Keep only body measures columns, so only columns with "BMX" in the name

In [8]:
col_names = df.columns
col_names

Index(['SEQN', 'ALQ101', 'ALQ110', 'ALQ130', 'SMQ020', 'RIAGENDR', 'RIDAGEYR',
       'RIDRETH1', 'DMDCITZN', 'DMDEDUC2', 'DMDMARTL', 'DMDHHSIZ', 'WTINT2YR',
       'SDMVPSU', 'SDMVSTRA', 'INDFMPIR', 'BPXSY1', 'BPXDI1', 'BPXSY2',
       'BPXDI2', 'BMXWT', 'BMXHT', 'BMXBMI', 'BMXLEG', 'BMXARML', 'BMXARMC',
       'BMXWAIST', 'HIQ210'],
      dtype='object')

**Creating a new df**

In [13]:
# One way to get the column names that include 'BMX' is with list comprehension
keep = [column for column in col_names if 'BMX' in column]

In [14]:
df_BMX = df[keep]

In [16]:
df_BMX.head()

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0   94.8  184.5    27.8    43.3     43.6     35.9     101.1
1   90.4  171.4    30.8    38.0     40.0     33.2     107.9
2   83.4  170.1    28.8    35.6     37.0     31.0     116.5
3  109.8  160.9    42.4    38.5     37.7     38.3     110.1
4   55.2  164.9    20.3    37.4     36.0     27.2      80.4

**Passin in a list or logical function**

In [17]:
df.loc[:,keep].head()

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0   94.8  184.5    27.8    43.3     43.6     35.9     101.1
1   90.4  171.4    30.8    38.0     40.0     33.2     107.9
2   83.4  170.1    28.8    35.6     37.0     31.0     116.5
3  109.8  160.9    42.4    38.5     37.7     38.3     110.1
4   55.2  164.9    20.3    37.4     36.0     27.2      80.4

**Using booleans**

In [19]:
index_bool = np.isin(df.columns, keep)
index_bool

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True,  True,  True,  True,  True,  True,  True,
       False])

In [21]:
df.iloc[:,index_bool].head()

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0   94.8  184.5    27.8    43.3     43.6     35.9     101.1
1   90.4  171.4    30.8    38.0     40.0     33.2     107.9
2   83.4  170.1    28.8    35.6     37.0     31.0     116.5
3  109.8  160.9    42.4    38.5     37.7     38.3     110.1
4   55.2  164.9    20.3    37.4     36.0     27.2      80.4

In [22]:
df_BMX.head()

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0   94.8  184.5    27.8    43.3     43.6     35.9     101.1
1   90.4  171.4    30.8    38.0     40.0     33.2     107.9
2   83.4  170.1    28.8    35.6     37.0     31.0     116.5
3  109.8  160.9    42.4    38.5     37.7     38.3     110.1
4   55.2  164.9    20.3    37.4     36.0     27.2      80.4