In [5]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', 100) # Show all columns when looking at dataframe

In [7]:
# Download NHANES 2015-2016 data
df = pd.read_csv("nhanes_2015_2016.csv")

### Keep only body measures columns, so only columns with "BMX" in the name

In [8]:
col_names = df.columns
col_names

Index(['SEQN', 'ALQ101', 'ALQ110', 'ALQ130', 'SMQ020', 'RIAGENDR', 'RIDAGEYR',
       'RIDRETH1', 'DMDCITZN', 'DMDEDUC2', 'DMDMARTL', 'DMDHHSIZ', 'WTINT2YR',
       'SDMVPSU', 'SDMVSTRA', 'INDFMPIR', 'BPXSY1', 'BPXDI1', 'BPXSY2',
       'BPXDI2', 'BMXWT', 'BMXHT', 'BMXBMI', 'BMXLEG', 'BMXARML', 'BMXARMC',
       'BMXWAIST', 'HIQ210'],
      dtype='object')

**Creating a new df**

In [13]:
# One way to get the column names that include 'BMX' is with list comprehension
keep = [column for column in col_names if 'BMX' in column]

In [14]:
df_BMX = df[keep]

In [16]:
df_BMX.head()

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0   94.8  184.5    27.8    43.3     43.6     35.9     101.1
1   90.4  171.4    30.8    38.0     40.0     33.2     107.9
2   83.4  170.1    28.8    35.6     37.0     31.0     116.5
3  109.8  160.9    42.4    38.5     37.7     38.3     110.1
4   55.2  164.9    20.3    37.4     36.0     27.2      80.4

**Passin in a list or logical function**

In [17]:
df.loc[:,keep].head()

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0   94.8  184.5    27.8    43.3     43.6     35.9     101.1
1   90.4  171.4    30.8    38.0     40.0     33.2     107.9
2   83.4  170.1    28.8    35.6     37.0     31.0     116.5
3  109.8  160.9    42.4    38.5     37.7     38.3     110.1
4   55.2  164.9    20.3    37.4     36.0     27.2      80.4

**Using booleans**

In [19]:
index_bool = np.isin(df.columns, keep)
index_bool

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True,  True,  True,  True,  True,  True,  True,
       False])

In [21]:
df.iloc[:,index_bool].head()

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0   94.8  184.5    27.8    43.3     43.6     35.9     101.1
1   90.4  171.4    30.8    38.0     40.0     33.2     107.9
2   83.4  170.1    28.8    35.6     37.0     31.0     116.5
3  109.8  160.9    42.4    38.5     37.7     38.3     110.1
4   55.2  164.9    20.3    37.4     36.0     27.2      80.4

In [22]:
df_BMX.head()

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0   94.8  184.5    27.8    43.3     43.6     35.9     101.1
1   90.4  171.4    30.8    38.0     40.0     33.2     107.9
2   83.4  170.1    28.8    35.6     37.0     31.0     116.5
3  109.8  160.9    42.4    38.5     37.7     38.3     110.1
4   55.2  164.9    20.3    37.4     36.0     27.2      80.4

### Indexing with conditionals

In [38]:
df_BMX[df.BMXWAIST > (np.median(df_BMX.BMXWAIST.dropna()))].head()

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0   94.8  184.5    27.8    43.3     43.6     35.9     101.1
1   90.4  171.4    30.8    38.0     40.0     33.2     107.9
2   83.4  170.1    28.8    35.6     37.0     31.0     116.5
3  109.8  160.9    42.4    38.5     37.7     38.3     110.1
9  108.3  179.4    33.6    46.0     44.1     38.5     116.0

In [44]:
condition1 = df_BMX['BMXWAIST'] > np.median(df_BMX.BMXWAIST.dropna())
condition2 = df_BMX['BMXLEG'] < 32
condition3 = df_BMX.BMXWT > 80
df_BMX[condition1 & condition2 & condition3].shape

(89, 7)

In [49]:
# Lets make a small dataframe and give it a new index so can more clearly see the differences between .loc and .iloc
tmp = df_BMX.loc[condition1 & condition2, :].head()
tmp.index = ['a', 'b', 'c', 'd', 'e'] # If you use different years than 2015-2016, this my give an error. Why?
tmp.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [50]:
# Here is another example of using a boolean list for indexing columns
tmp.loc[:, [False, False, True] +[False]*4]

   BMXBMI
a    35.4
b    35.9
c    29.1
d    42.6
e    35.2

In [52]:
tmp.iloc[:, 2]

a    35.4
b    35.9
c    29.1
d    42.6
e    35.2
Name: BMXBMI, dtype: float64

In [62]:
tmp.iloc[0:3,2] = [0]*3
tmp.iloc[:,2]

a     0
b     0
c     0
d    10
e    10
Name: BMXBMI, dtype: int32

In [63]:
tmp.loc['a':'c','BMXBMI'] = [1]*3
tmp.loc[:,'BMXBMI']

a     1
b     1
c     1
d    10
e    10
Name: BMXBMI, dtype: int32

In [64]:
# We can use the [] method when changing all the values of a column
tmp['BMXBMI'] = range(0, 5)
tmp

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
a   80.5  150.8       0    31.6     32.7     33.7     113.5
b   75.6  145.2       1    31.0     33.1     36.0     108.0
c   63.7  147.9       2    26.0     34.0     31.5     110.0
d  105.9  157.7       3    29.2     35.0     40.7     129.1
e   77.5  148.3       4    30.5     34.0     34.4     107.6

In [65]:
# We will get a warning when using the [] method with conditions to set new values in our dataframe
tmp[tmp.BMXBMI > 2]['BMXBMI'] = [10]*2 # Setting new values to a copy of tmp, but not tmp itself
tmp
# You can see that the above code did not change our dataframe 'tmp'. This

<ipython-input-65-353b40cb5be9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp[tmp.BMXBMI > 2]['BMXBMI'] = [10]*2 # Setting new values to a copy of tmp, but not tmp itself

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
a   80.5  150.8       0    31.6     32.7     33.7     113.5
b   75.6  145.2       1    31.0     33.1     36.0     108.0
c   63.7  147.9       2    26.0     34.0     31.5     110.0
d  105.9  157.7       3    29.2     35.0     40.7     129.1
e   77.5  148.3       4    30.5     34.0     34.4     107.6

In [66]:
# The correct way to do the above is with .loc or .iloc
tmp.loc[tmp.BMXBMI > 2, 'BMXBMI']  = [10]*2
tmp # Now contains the changes

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
a   80.5  150.8       0    31.6     32.7     33.7     113.5
b   75.6  145.2       1    31.0     33.1     36.0     108.0
c   63.7  147.9       2    26.0     34.0     31.5     110.0
d  105.9  157.7      10    29.2     35.0     40.7     129.1
e   77.5  148.3      10    30.5     34.0     34.4     107.6